*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
/* nav */
.nav-bar {
    background-color: #333;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    /* verticaly */
    align-items: center;
    position: sticky;
    top: 0;
}
.logo  img{
    margin-right: 20px;
    width: 50px;
    height: 50px;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin-right: 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
}
.nav-links a:hover {
    color: rgb(89, 223, 223);
    border-bottom: white 2px solid;
    font-weight: bold;
    border-bottom: 1px solid white;
}
.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
#menu-toggle{
    display: none;
}

/* header */
header{
    background: url('./assets/images/MSwRoQ.jpg') center/cover no-repeat;
    color: white;
    padding: 20px 20px;
    position: relative;
    text-align: center;
}

header h1 p{
   position: relative;
   z-index: 1px;
}
section{
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}
.services h2{
    margin-bottom: 20px;
    color: #333;
    font-size: larger;
}
/* services */
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.card{
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: inset;
}
.card :hover{
    background-color: blue;
    cursor: pointer;
}
/* responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 20px;
    }
    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }
    .nav-links li {
        margin-bottom: 20px;
    }
    .menu-icon {
        display: block;
    }
}